@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
    --font-sans: 'Inter', system-ui, sans-serif;
}

@layer base {
    body {
        @apply bg-neutral-50 text-neutral-900 antialiased;
    }
}